:root {
  --black: #000;
  --white: #fff;
  --light-green: #c5e9da;
  --light-black: #172b4d;
  --green: #36b37e;
  --very-light-black: #505f79;
  --black-titles: #3a4a42;
  --neutral: #42526e;
  --paragraf: #172b4d;
  --gray: #ebf0ee;
  --light-gray: #d0d9d4;
  --sm: 14px;
  --md: 20px;
  --lg: 40px;
  --xl: 48px;
}

body {
  font-family: "Inter", sans-serif;
  margin: 0;
}

.mobile {
  margin-right: 30px;
  display: flex;
  justify-content: space-between;
}

.mobile li {
  list-style: none;
}

.mobile li a {
  text-decoration: none;
  font-size: var(--md);
  color: var(--light-black);
  font-weight: 600;
}

.desktop {
  display: flex;
  justify-content: center;
  gap: 40px;
  margin-top: 0;
  padding-top: 16px;
}

.desktop li {
  list-style: none;
}

.desktop li a {
  text-decoration: none;
  font-size: var(--md);
  color: var(--light-black);
  font-weight: 600;
}

.head-line {
  background: url(../img/header-illsutration-mobile@2x.png);
  background-size: 100%;
  height: 100vh;
  background-repeat: no-repeat;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  padding: 24px;
  align-items: center;
}

.network {
  margin: 0 100px 0 100px;
}

.network ul {
  display: flex;
  gap: 19px;
  justify-content: center;
  padding: 0;
}

.network ul li {
  list-style: none;
}

.network ul li a {
  text-decoration: none;
  color: var(--very-light-black);
  font-size: 30px;
}

.title h1 {
  margin: 0 0 0 0;
  font-size: var(--lg);
  font-weight: 700;
  color: var(--light-black);
  text-align: center;
}

.title2 {
  color: var(--green);
  margin: 0 0 0 0;
  font-size: var(--lg);
  font-weight: 700;
  text-align: center;
}

.subtitle {
  font-size: var(--md);
  text-align: center;
  margin: 0 25px 0 25px;
  font-weight: 400;
  color: var(--paragraf);
  line-height: 28px;
}

.button {
  text-decoration: none;
  font-size: 40px;
  color: var(--very-light-black);
}

.scroll-down {
  display: flex;
  justify-content: center;
}

/* .cards{
  display: flex;
  flex-direction: column;
  align-items: center;
} */

.cards-container {
  display: grid;
  grid-template-columns: repeat(auto-fill, 320px);
  gap: 26px;
  place-content: center;
}

.product-card {
  width: 320px;
  border: solid 1px var(--very-light-black);
  border-radius: 10px;
}

.product-card img {
  width: 100%;
  height: 200px;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  object-fit: cover;
}

.product-info {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  height: 200px;
}

.product-info h2 {
  margin: 0;
  font-size: 25px;
  font-weight: 600;
  text-align: center;
  color: var(--black-titles);
}

.leng ul {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0;
  margin: 0;
}

.leng ul li {
  color: var(--black-titles);
  list-style: none;
  border: solid 4px var(--gray);
  border-radius: 7px;
  margin: 5px;
  background-color: var(--gray);
}

.cards h1 {
  font-size: var(--lg);
  font-weight: 700;
  color: var(--light-black);
  text-align: center;
  margin: 0 20px 0 20px;
}

.dash {
  display: flex;
  justify-content: center;
  margin: 25px 0 60px;
}

.about-me {
  background-image:
    url(/assets/img//illustration-about-me-2-desktop.png),
    url(/assets/img/illustration-about\ me-1-desktop.png);
  background-position: 0% 100%, right top;
  background-repeat: no-repeat, no-repeat;
  background-size: 23%, 23%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  height: 390px;
  margin-top: 40px;
  margin-bottom: 60px;
}

.about-me h1 {
  font-size: var(--lg);
  font-weight: 700;
  color: var(--light-black);
  text-align: center;
  font-style: normal;
  margin: 0;
}

.about-me p {
  font-size: var(--md);
  text-align: center;
  margin: 0 25px 0 25px;
  font-weight: 400;
  color: var(--neutral);
  line-height: 32px;
  margin-top: 24px;
  margin-bottom: 24px;
}

button {
  background-color: var(--green);
  color: var(--white);
  border-color: var(--green);
  border-radius: 5px;
  font-weight: 500;
  font-size: 17px;
  padding: 12px;
  border: none;
}

.my-skills {
  display: grid;
  grid-template-columns: repeat(auto-fill, 320px);
  gap: 26px;
  place-content: center;
  width: 100%;
  margin-bottom: 60px;
  padding: 0;
}

.skills-card {
  background-color: var(--gray);
  width: 320px;
  height: 350px;
  border: solid 2px var(--very-light-black);
  border-radius: 10px;
  display: flex;
  flex-direction: column;
}

.skills-card img {
  width: 120px;
  height: 120px;
  align-self: center;
  margin-top: 30px;
  margin-bottom: 50px;
}

.skill-info {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.skills-info h3 {
  margin: 0 0 25px 0;
  font-size: 25px;
  font-weight: 600;
  text-align: center;
}

.skill ul {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  padding: 0;
  margin: 0;
}

.skill ul li {
  color: var(--green);
  font-size: var(--sm);
  font-weight: 600;
  list-style: none;
  border: solid 4px var(--white);
  border-radius: 7px;
  margin: 5px;
  background-color: var(--white);
}

footer {
  display: flex;
  flex-direction: column;
  padding: 0 24px;
  text-align: center;
  background-image: url(/assets/img/illustration-contact-form.svg);
  background-repeat: no-repeat;
  background-position: 100% 65%;
}

footer form {
  display: flex;
  flex-direction: column;
  gap: 24px;
  margin-bottom: 44px;
}

footer form input {
  height: 48px;
  border-radius: 4px;
  border: 1px solid var(--light-gray);
}

footer form textarea {
  height: 90px;
  border-radius: 4px;
  border: 1px solid var(--green);
}

footer form textarea::placeholder {
  color: #091e42;
  font-family: "Inter", sans-serif;
}

footer form button {
  width: 129px;
  align-self: center;
}

button:hover {
  box-shadow: 0 8px 16px 0 #36b37f3d;
}

button:active {
  background-color: #008552;
}

footer h4 {
  font-size: var(--lg);
  font-weight: 700;
  margin-bottom: 58px;
}

footer h5 {
  font-size: var(--md);
  font-weight: 400;
  color: var(--neutral);
  margin-top: 0;
  margin-bottom: 336px;
}

@media (max-width: 768px) {
  .desktop {
    display: none;
  }
}

@media (min-width: 768px) {
  body {
    margin: 0;
  }

  .mobile {
    display: none;
  }

  header {
    height: 1300px;
    background-image: url(/assets/img/Header-llustration-desktop@2x.png);
    background-size: 100%;
    background-repeat: no-repeat;
  }

  .head-line {
    background-image: none;
  }

  .title h1 {
    font-size: var(--xl);
  }

  .title2 {
    font-size: var(--xl);
  }

  .subtitle {
    max-width: 800px;
    text-align: center;
  }

  .network ul {
    gap: 23px;
  }

  .dash {
    display: none;
  }

  .cards-container {
    max-width: 1700px;
    grid-template-columns: repeat(auto-fill, 350px);
    gap: 7%;
    margin: auto;
  }

  .product-card {
    width: 380px;
  }

  .about-me {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-size: 15%, 15%;
    margin-top: 10%;
  }

  .about-me h1 {
    font-size: var(--xl);
  }

  .about-me p {
    margin: 0 30%;
  }

  .cards h1 {
    margin-top: 5%;
    margin-bottom: 5%;
  }

  .main-card {
    padding: 100px;
  }

  .my-skills {
    grid-template-columns: repeat(auto-fill, 380px);
    gap: 7%;
  }

  .skills-card {
    width: 380px;
  }

  footer {
    flex-direction: column;
    padding: 0;
    background-image:
      url(/assets/img/illustration-1-contact-form-desktop.png),
      url(/assets/img/illustration-2-contact-form-desktop.png),
      url(/assets/img/illustration-contact-form.svg);
    background-position: 0 85%, 30% 80%, 100% -60%;
    background-size: 12%, 7%, 12%;
  }

  .form-title {
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 24px;
    margin-bottom: 10%;
  }

  .form-title h4 {
    font-size: 30px;
    width: 30%;
    align-self: center;
    line-height: 52px;
  }

  .form-title form input {
    width: 684px;
    height: 48px;
  }

  .form-title form textarea {
    width: 684px;
    height: 114px;
  }

  .form-title form button {
    align-self: flex-start;
  }

  .network {
    margin: 0;
  }

  footer h5 {
    display: none;
  }
}
